@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<br />
<h1>Admin Control</h1>
<br />
<a class="btn btn-primary mb-3" style="width:auto" asp-action="ListRoles" asp-controller="Admin">Roles Controller</a>
<a class="btn btn-info mb-3" style="width:auto background-color:blue;" asp-action="ListRoles" asp-controller="Admin">Report Generators</a>