@using Microsoft.AspNetCore.Http
@using FinalProject.Extentions
@inject IHttpContextAccessor HttpContextAccerssor
<header>
    <nav id="SuperNavBar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom bg-primary box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bongo Beat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Albums" asp-action="AlbumView">AlbumArt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Artists" asp-action="Index">Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Albums" asp-action="Index">Albums</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="ArtistAlbums" asp-action="Index">Artist-Albums</a>
                    </li>
                </ul>
                <form class="d-flex">
                @if(HttpContextAccerssor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart) != null)
                {

                    
                    <button id="CheckOut" class="btn btn-outline-light" type="submit" asp-controller="Home" asp-action="checkout"  >
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        @{
                            var count = HttpContextAccerssor.HttpContext.Session.GetObject<List<int>>(SD.SessionCart).Count;
                        }
                        <span class="badge text-white ms-1 rounded-pill">@count</span>
                    </button>
                }
                else
                {
                    <button id="CheckOut" class="btn btn-outline-light" type="submit" asp-controller="Home" asp-action="checkout"  >
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="">0</span>
                    </button>
                }
                </form>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
</header>

