
* {
    box-sizing: border-box;
}

html,
.shopping-cart {
    /*position: absolute;
    width: 750px;
    height: 423px;
    margin: 80px auto;*/
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

#Back2Shop {
    width: 164px;
    margin-left: auto;
    margin-right: 0;
}
#Payment {
    width: 300px;
    margin-left: auto;
    margin-right: 0;
}
.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
}

    .item:nth-child(3) {
        border-top: 1px solid #E1E8EE;
        border-bottom: 1px solid #E1E8EE;
    }

/* Buttons -  Delete and Like */

#RemoveButt {
    padding-right: 10%;
}
#ItemPrice {
    padding-top: 11px;
    text-align: right;
}

.delete-btn {
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 17px;
    background: url("delete-icn.svg") no-repeat center;
    margin-right: 20px;
}

#ShoppingHeader {
    margin-left: 0px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    padding-left: 10px;
}


.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}

/* Product Image */
.image {
    margin-right: 50px;
    padding-bottom: 40px;
}

/* Product Description */
.description {
    padding-top: 10px;
    margin-right: 60px;
    width: 115px;
}

    .description span {
        display: block;
        font-size: 14px;
        color: #43484D;
        font-weight: 400;
    }

        .description span:first-child {
            margin-bottom: 5px;
        }

        .description span:last-child {
            font-weight: 300;
            margin-top: 8px;
            color: #86939E;
        }

/* Product Quantity */
.quantity {
    padding-top: 19px;
    margin-right: 60px;
    padding-left: 570px
}

    .quantity input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
    }



#quantityb {

    width: 35px;
    text-align: center;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 1px;
    border: revert;
    cursor: pointer;
}


#QNumber {
    padding-bottom: 33px;
    display: inline-flex;
    align-items: center;
}

/* Total Price */
#total-price {
    width: 83px;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

#totalprice {
    text-align: left;
    width: 30%;
    margin: 0px
}
/* Responsive */
@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    .image img {
        width: 50%;
    }

    .image,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }

    .buttons {
        margin-right: 20px;
    }
}
