@model IEnumerable<FinalProject.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Bongo Beat</h1>
                <p class="lead fw-normal text-white-50 mb-0">Shop for the latest and greatest vinyls</p>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@Url.Action("GetAlbumArt", "Albums", new {item.Id})" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h6 class="fw-bolder">@Html.DisplayFor(modelItem => item.AlbumName)</h6>
                                    <h6 class="fw-bold">@Html.DisplayFor(modelItem => item.Artist.Name)</h6>
                                    <!-- Product price-->
                                    <p class="fst-italic">$@Html.DisplayFor(modelItem => item.Price)</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a asp-action="Details" asp-controller="Albums" asp-route-id="@item.Id" class="btn btn-outline-dark mt-auto">View details</a></div>
                                <p></p>
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto">Add to cart</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            

        </div>

    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>




