@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/cart/CartPage.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <div class="title">
        Order Summary
    </div>

    @if (Model.AlbumList.Count > 0)
    {
        <div class="container rounded p-2">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-12 col-lg-6 pb-4">
                    <div class="row">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-primary">Delivery Details:</span>
                        </h4>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-9">
                            <input id="txtName" type="text" class="form-control">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <label>Phone</label>
                        </div>
                        <div class="col-9">
                            <input id="txtPhone" type="text" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <label>Email</label>
                        </div>
                        <div class="col-9">
                            <input id="txtEmail" type="text" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <label>Address</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <label>State</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <label>ZipCode</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-5 offset-1">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-primary">Order Summary</span>
                    </h4>
                    <ul class="list-group mb-3">
                        @{
                            var total = 0.0;
                        }
                        @foreach (var item in Model.AlbumList)
                        {
                            <li class="list-group-item d-flex justify-content-between">
                                <div>
                                    <input type="hidden" value=@item.Id />
                                    <img src="@Url.Action("GetAlbumArt", "Albums", new {item.Id})" alt="" width="50" height="50" />
                                    <h7 class="my-0">@item.AlbumName</h7>
                                </div>
                                <span class="text-muted">@item.Price.ToString("c")</span>
                                @{
                                    total += (item.Price);
                                }

                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <small class="text-primary">Total (USD)</small>
                            <strong class="text-primary">@total.ToString("c")</strong>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">

            <div class="d-flex justify-content-between">
                <a asp-action="checkout" asp-controller="Home" class="btn btn-outline-secondary form-control btn-dark">Back to Cart</a>
                <a asp-action="OrderConfirmation" asp-controller="Home" asp-route-id="1" class="btn btn-success form-control">Place Order</a>
            </div>
        </div>

        @*asp-for="OrderHeader.ZipCode"
    asp-validation-for="OrderHeader.ZipCode"*@
    }
    else
    {
        <div class="backgroundWhite">No items to the shopping cart</div>
    }

    <script type="text/javascript">
        $('.minus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var $price = parseInt(document.getElementById("total-price").val);
            var value = parseInt($input.val())
            if (value > 1) {
                value = value - 1;
            } else {
                value = 0;
            }
            document.getElementById("total-price").innerHTML = value * $price;
            $input.val(value);
        });
        $('.plus-btn').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());
            if (value < 100) {
                value = value + 1;
            } else {
                value = 100;
            }
            $input.val(value);
        });
        $('.like-btn').on('click', function () {
            $(this).toggleClass('is-active');
        });
    </script>
</body>